@import '../variables/variables.scss';

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    .navHeader {
      display: flex;
      flex-direction: row;

      background-color: #f9f9f9;

      padding: 0 10px;
      margin-inline: 70px 70px;

      border-radius: 10px;

      justify-content: center;
      align-items: center;

      font-family: $font-base;
      font-size: 24px;
      h1 {
        direction: rtl;
      }
      .navBars {
        display: flex;
        margin: auto;

        .navCategories {
          padding: 0 90px;
        }
      }
    }
  }
  main {
    flex: 1;

    text-align: center;
  }

  footer {
    display: flex;
    margin: 0 40px;

    .leftFooter {
      display: inline;
      bottom: 0;
      text-align: left;
      font-family: $font-base;

      p:nth-child(1) {
        font-size: 48px;
        font-weight: 700;
        margin: 20px 0;
      }

      p:nth-child(2) {
        font-size: 18px;
        margin-bottom: 80px;
      }

      p:nth-child(3) {
        font-size: 18px;
        opacity: 0.5;
      }
    }

    .rightFooter {
      display: flex;
      margin-left: auto;

      .companyInfo {
        margin-right: 100px;
      }
    }
  }
}
