$font-base: Arial, Helvetica, sans-serif;

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    .navHeader {
      display: flex;
      flex-direction: row;

      background-color: #f9f9f9;

      padding: 0 10px;
      margin-inline: 70px 70px;

      border-radius: 10px;

      justify-content: center;
      align-items: center;

      font-family: $font-base;
      font-size: 24px;
      h1 {
        direction: rtl;
      }
      .navBars {
        display: flex;
        margin: auto;

        .navCategories {
          padding: 0 90px;
        }
      }
    }

    .formSearch {
      font-family: $font-base;
      font-size: 24px;

      align-items: center;
      margin: 70px 0;

      .formSearchBar {
        display: flex;
        justify-content: center;

        .formSearchInput {
          display: flex;
          align-items: center;

          .formInput {
            display: flex;

            background-color: #f9f9f9;

            border: 1px #d1d1d1 solid;
            border-radius: 20px;

            padding: 10px 15px;

            .formDropdown {
              font-weight: 700;
            }

            .formVerticalDiv {
              border-left: 1px #d1d1d1 solid;
              margin: 0 11px;
            }

            .formInputKey {
              display: flex;

              border: none;
              background: none;
              outline: none;

              font-size: 24px;
              width: 560px;
            }
            .formSearchIcon {
              border: none;
              background: none;
              outline: none;

              cursor: pointer;

              img {
                width: 15px;
                height: 15px;
              }
            }
          }

          .formCartIcon {
            border: none;
            background: none;
            outline: none;

            cursor: pointer;

            margin-left: 30px;

            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
  main {
    flex: 1;

    text-align: center;
  }

  footer {
    display: flex;
    margin: 0 40px;

    .leftFooter {
      display: inline;
      bottom: 0;
      text-align: left;
      font-family: $font-base;

      p:nth-child(1) {
        font-size: 48px;
        font-weight: 700;
        margin: 20px 0;
      }

      p:nth-child(2) {
        font-size: 18px;
        margin-bottom: 80px;
      }

      p:nth-child(3) {
        font-size: 18px;
        opacity: 0.5;
      }
    }

    .rightFooter {
      display: flex;
      margin-left: auto;

      .companyInfo {
        margin-right: 100px;
      }
    }
  }
}
